<div class="row marketing">
  <h4>Msg loader</h4>  
  <div class="btn btn-primary" ng-click="loadMsg()">load Msg</div>
  <presenter class="msg-container">
    <div class="msg-box" ng-repeat="msg in messages" lifetime="{{msg.lifePerion}}">
      <img class="img-thumbnail img-responsive" ng-if="msg.imageSrc" ng-src="{{msg.imageSrc}}">
      <div ng-if="msg.textMsg" class="text-msg">
        <b>Msg Text: </b>{{msg.textMsg}}
      </div>
    </div>
  </presenter>
  
</div>